<!DOCTYPE html>
<html ng-app="onderhandel">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../less/navicoon.css"/>
    <link rel="stylesheet" type="text/css" href="../lib/semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../less/onderhandelen.css"/>
    <script src="../lib/jquery/jquery-2.1.4.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <title></title>
</head>
<body>

<header>
    <div id="bovenbar">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <img id="logo" src="../images/logo.png" >
        <div class="ui floating labeled icon dropdown button" id="rechterheader" ng-controller="userController">
            <i class="user icon"></i>
            <span class="text" id="user">{{ currentUser.local.voornaam || "user" }} </span>
            <input type="hidden" value="{{ currentUser._id }}" id="hiddenuserid">
            <input type="hidden" value="{{ currentUser.local.voornaam }}" id="currentUserVoornaam"/>
            <div class="menu">
                <div class="item" ng-show="loggedIn">
                    <i class="alarm icon"></i>
                    <a href="/notificaties">Notifications</a>
                </div>
                <div class="item" ng-show="loggedIn">
                    <i class="ticket icon"></i>
                    <a href="/mytickets">My Tickets</a>
                </div>
                <div class="item" ng-show="loggedIn">
                    <i class="exchange icon"></i>
                    <a href="/mytraded">My Trades</a>
                </div>
                <div class="item" ng-show="loggedIn">
                    <i class="sign out icon"></i>
                    <a href="/logout">Sign Out</a>
                </div>

                <div class="item" ng-hide="loggedIn">
                    <i class="sign in icon"></i>
                    <a href="/login">Sign In</a>
                </div>
                <div class="item" ng-hide="loggedIn">
                    <i class="add user icon"></i>
                    <a href="/signup">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="zijmenu">
        <!-- Menu -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/werking">Werking</a></li>
            <li><a href="/overzichttickets">Browse Tickets</a></li>
            <li><a href="/mytickets">My tickets</a></li>
            <li><a href="/ticketregistreren">Add ticket</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</header>


<h1 id="h1tje">Negotiate & Trade</h1>
<div id="containerAlles">

<div ng-controller="verzoekController"  id="containerTickets">

    <input type="hidden" value="{{ tickets[0]['user'] }}" id="userIdJezelf">
    <input type="hidden" value="{{ tickets[1]['user'] }}" id="userIdAnder">
    <input type="hidden" value="{{ arralletickets }}" id="alleTickets">
    <input type="hidden" value="{{ verzoek._id }}" id="idGesprek">

    <h3 class="zondermargin">Ticket</h3>
    <div class="ui card" class="kaartje">
        <div class="content">
            <span class="right floated"><i class="user icon"></i>  {{ tickets[0].owner }} </span>
            <div class="header">
                {{ tickets[0].title }}
            </div>
            <div class="content">
                {{ tickets[0].sort }}
                <span id="spanprijs" class="right floated"><i class="euro icon"></i>  {{ tickets[0].price }} </span>
                <span id="spanticket" class="right floated"><i class="ticket icon"></i>  {{ tickets[0].amount }} </span>
            </div>
            <div class="description" id="description">
                {{ tickets[0].description }}

            </div>
            <div class="extra content" id="eventinfo">
                <span class="right floated"><i class="location arrow icon"></i>{{ tickets[0].city }}</span>
                <span><i class="calendar icon"></i>{{  tickets[0].datum }}</span>
            </div>
            <input type="hidden" value="{{ tickets[0].owner }}" id="eigenTicketOwner" />
            <input type="hidden" value="{{ tickets[0].title }}" id="eigenTicketTitle" />
            <input type="hidden" value="{{ tickets[0].sort }}" id="eigenTicketSort" />
            <input type="hidden" value="{{ tickets[0].description }}" id="eigenTicketDescription" />
            <input type="hidden" value="{{ tickets[0].amount }}" id="eigenTicketAmount" />
            <input type="hidden" value="{{ tickets[0].price }}" id="eigenTicketPrice" />
            <input type="hidden" value="{{ tickets[0].city }}" id="eigenTicketCity" />
        </div>
    </div>

    <h3>Offered</h3>

    <div class="ui card" class="kaartje" ng-repeat="ticket in tickets" ng-if="$index > 0">
        <div class="content">
            <span class="right floated"><i class="user icon"></i>  {{ ticket.owner }} </span>
            <div class="header">
                {{ ticket.title }}
            </div>
            <div class="content">
                {{ ticket.sort }}
                <span  class="right floated"><i class="euro icon"></i>  {{ ticket.price }} </span>
                <span  class="right floated"><i class="ticket icon"></i>  {{ ticket.amount }} </span>
            </div>
            <div class="description" >
                {{ ticket.description }}

            </div>
            <div class="extra content" >
                <span class="right floated"><i class="location arrow icon"></i>{{ ticket.city }}</span>
                <span><i class="calendar icon"></i>{{  ticket.datum }}</span>
            </div>
            <input type="hidden" value="{{ ticket.owner }}" id="anderTicketOwner" />
            <input type="hidden" value="{{ ticket.title }}" id="anderTicketTitle" />
            <input type="hidden" value="{{ ticket.sort }}" id="anderTicketSort" />
            <input type="hidden" value="{{ ticket.description }}" id="anderTicketDescription" />
            <input type="hidden" value="{{ ticket.amount }}" id="anderTicketAmount" />
            <input type="hidden" value="{{ ticket.price }}" id="anderTicketPrice" />
            <input type="hidden" value="{{ ticket.city }}" id="anderTicketCity" />
        </div>
    </div>
    <button class="ui orange button" id="btnTrade" ng-click="trade(verzoek._id)"  ng-show="tickets[0].owner==currentUser.local.voornaam">Trade!</button>
    <p>{{ currentUser.local.voornaam }}</p>
</div>
<div id="messageContainer">
<div id="messagebox">
    <div id="bovenste">
        <p>Live Chat</p>
    </div>
    <div id="messages"></div>
</div>
<div id="onderste">
    <div class="ui left icon input" id="inputdiv">
        <input type="text" id="typeit" placeholder="Send a message">
        <i class="comment icon"></i>
    </div>
    <button class="ui inverted orange button" id="sendit">Send</button>
</div>
</div>

    </div>


   <script src="../js/navnavigatie.js"></script>
   <script src="../js/semanticinits.js"></script>
   <script src="../lib/semantic-ui/semantic.min.js"></script>
   <script src="../lib/angular/angular.js"></script>
   <script src="../lib/angular/angular-route.js"></script>
   <script src="../controllers/clientOnderhandelController.js"></script>
   <script src="/socket.io/socket.io.js"></script>
   <script src="../js/overzichtticketssocket.js"></script>
   <script src="../js/notificatieRequestSocket.js"></script>
    <script src="../js/onderhandelensocket.js"></script>

</body>
</html>